# Ignore generated NPM files
# These are sometimes included but not necessary for this project
package-lock.json
node_modules/

# Ignore generated Maven build files
target/

# Ignore editor config
.idea

# Ignore generated index and planner html files
src/main/webapp/index.html
src/main/webapp/planner.html
