# Ignore generated NPM files
# These are sometimes included but not necessary for this project
package-lock.json
node_modules/

# Ignore generated Maven build files
target/

# Ignore editor config
.idea
