.tui-full-calendar-dayname-date {
  display: none;
}

.tui-full-calendar-dayname-name {
  color: #858796;
  font-size: 15px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #3d64d3;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
