.tui-full-calendar-dayname-date {
  display: none;
}

.tui-full-calendar-dayname-name {
  color: #858796;
  font-size: 15px;
}

.pagination li {
  color: black;
  padding: 8px 16px;
}

.pagination li.active {
  background-color: #3d64d3;
  color: white;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
}
